<div class="center hero-unit">
	<h1>Welcome to the Diving App</h1>
	<h2>
		Prepare to be amazed.
	</h2>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("oly_rings_small.jpeg", alt: "Rails"), 'http://rubyonrails.org/' %>
