<% provide(:title, @diver.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @diver.name %>
      </h1>
      <h2>
        much much more to follow
      </h2>
    </section>
  </aside>
</div>
