<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <h2>
        <% if @user.isDiver && @user.isCoach %>
          Diver,&nbsp Coach
        <% elsif @user.isDiver %>
          Diver
        <% elsif @user.isCoach %>
          Coach
        <% end %>
      </h2>
    </section>
  </aside>
</div>
